{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h3 class="col-md-12">Retiradas  <a class="btn-novo btn btn-success btn-sm" href="{{ path('retirada_new') }}">Novo</a></h3>
    </div>


    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valor</th>
                <th>Descricao</th>
                <th>Data</th>
                <th width="60px"></th>
            </tr>
        </thead>
        <tbody>
        {% for retirada in retiradas %}
            <tr>
                <td class="primary">{{ retirada.id }}</td>
                <td>{{ retirada.valor }}</td>
                <td>{{ retirada.descricao }}</td>
                <td class="datetime">{% if retirada.data %}{{ retirada.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div class="btn-group" role="group">                            <a class="btn btn-primary" href="{{ path('retirada_show', { 'id': retirada.id }) }}">show</a>                            <a class="btn btn-primary" href="{{ path('retirada_edit', { 'id': retirada.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
