{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lancamento - Novo</h1>
    <hr/>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-group" role="group">
            <input class="btn btn-success btn-salvar" type="submit" value="Salvar" />
                            <a class="btn btn-primary btn-voltar" href="{{ path('lancamento_index') }}">Back to the list</a></div>
    {{ form_end(form) }}

    <script type="text/javascript">
        $('#kod_bundle_caixabundle_lancamento_data').parent().hide();
        if({{ caixa }} > 0){
            $('#kod_bundle_caixabundle_lancamento_caixa').val({{ caixa }}).addClass('readonly');
        }

        {% if servico %}
        $('#kod_bundle_caixabundle_lancamento_produto').parent().hide();
        {% endif %}

        {% if produto %}
        $('#kod_bundle_caixabundle_lancamento_profissional').parent().hide();
        $('#kod_bundle_caixabundle_lancamento_servico').parent().hide();
        {% endif %}

    </script>
{% endblock %}
