{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lancamento</h1>
    <hr/>
    {{ form_start(delete_form) }}
    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td class="default">{{ lancamento.id }}</td>
            </tr> <tr>
                <th>Caixa</th>
                <td class="default">{{ lancamento.caixa }}</td>
            </tr>
            <tr>
                <th>Serviço</th>
                <td class="default">{{ lancamento.servico }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td class="default">{{ lancamento.valor }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td class="datetime">{% if lancamento.data %}{{ lancamento.data|date('d/m/Y H:i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary btn-voltar" href="{{ path('caixa_show',{id: lancamento.caixa.id}) }}">Voltar</a>
    </div>
    {{ form_end(delete_form) }}
{% endblock %}
