{% extends 'base.html.twig' %}

{% block body %}
    <h1>Serviços | Categoria - Excluir</h1>
    <hr />
    {{ form_start(delete_form) }}

    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servicosCategorium.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ servicosCategorium.nome }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <input class="btn btn-danger" type="submit" value="Confirmar">
        <a class="btn btn-primary" href="{{ path('servicoscategoria_index') }}">Voltar</a>

    </div>

            {{ form_end(delete_form) }}
{% endblock %}
