{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profissionais - Excluir</h1>
    <hr/>
    {{ form_start(delete_form) }}
    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profissional.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ profissional.nome }}</td>
            </tr>
        </tbody>
    </table>

            <div>
                <input class="btn btn-danger" type="submit" value="Confirmar">
                <a class="btn btn-primary" href="{{ path('profissional_index') }}">Voltar</a>

            </div>
            {{ form_end(delete_form) }}
{% endblock %}
